.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

a {
    text-decoration:none;
    font-family:Arial;
    display: block;
}
.active{
  color: #A3C34A;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

button.mui-btn {
  background-color: #B15C1A;
  text-decoration-color:
}
div.navButton {
  display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
section.row {
  background-image: url('http://orig12.deviantart.net/c59f/f/2017/159/8/7/destiny_2_cinematic_shot__1_by_daroz-dbc03f9.jpg') ;
}
let navButton:active {
  background-color: #f4511e;
  box-shadow: 0 5px #a6a6;
  transform: translateY(4px);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
